.editor{ margin-top: 20px;}

.title input, .editor .formatBox{
    border: 1px solid #ccc;
    padding: 10px;
}

.formatBox{
    font-size: 16px;
    width: calc(100% - 40px);
    width: -webkit-calc(100% - 40px);
    max-width: 940px;
    height: calc(100% - 50px);
    height: -webkit-calc(100% - 50px);
    margin: 0 auto;
    margin-top: -1px;
    position:relative;
    overflow: auto;
    letter-spacing: 1px;
}


.formatBox h1 {
    font-size: 180%;
    font-weight: 400;
}

.formatBox h1, .formatBox h2, .formatBox h3, .formatBox h4, .formatBox h5, .formatBox h6{
    font-weight: 400;
}

.formatBox blockquote{
    border-left: 3px solid #51CDF7;
    padding-left: 5px;
}

.content .formatBox p:first-of-type{
    margin-top: 0px;
}

.contentText{
    opacity: 0.0;
    height: 0px;
    width: 0px;
}
 .title input{
    width: calc(100% - 40px);
    width: -webkit-calc(100% - 40px);
    max-width: 940px;
    font-size: 20px;
    margin: 0 auto;
    position:relative;
    display:block;
}

.error{
    box-shadow: 0px 0px 5px #c00;
}
.save input{
    position:relative;
    display:block;
    text-align: center;
    line-height: 32px;
    width: 200px;
    padding-bottom: 5px;
    height: 32px;
    border-radius: 5px;
    background: #469E1A;
    background: linear-gradient(#4CBC14, #399B07);
    background: -webkit-linear-gradient(#69D334, #469E1A);
    color: #fff;
    text-shadow: 0px -2px 0px #399B07;
    font-size: 120%;
    box-shadow: -0px -3px 0px #72CE44;
    margin: 5px auto;
    text-decoration: none;
    border-width: 0;
}

.button{
    padding: 10px;
    float: left;
    background: #eee;
    border: 1px solid #555;
    margin-right: -1px;
}

.buttonBox{
    background: #ddd;
    width: calc(100% - 20px);
    width: -webkit-calc(100% - 20px);
    max-width: 942px;
    margin: 0 auto;
    margin-bottom: -1px;
    margin-top: 1px;
    padding-right: 2px;
}
