.post a{
    color: #444;
}
.post a:hover{
    color: #51CDF7;
}

.post .inner{
    padding-left: 10px;
}

.post h1{
    font-size: 220%;
    font-weight: 400;
    margin-bottom: 5px;
}

.posted{
    color: #666;
}

.inner h1 {
    font-size: 180%;
    font-weight: 400;
}

.inner h1, .inner h2, .inner h3, .inner h4, .inner h5, .inner h6{
    font-weight: 400;
}

.inner blockquote{
    border-left: 3px solid #51CDF7;
    padding-left: 5px;
}
